head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="icon", type="image/png", sizes="32x32", href="./images/favicon-32x32.png")
	link(rel="manifest", href="manifest.json")
<!-- ios support -->
	link(rel="apple-touch-icon", href="./images/icon-192x192.png")
	link(rel="apple-touch-icon", href="./images/icon-256x256.png")
	link(rel="apple-touch-icon", href="./images/icon-384x384.png")
	link(rel="apple-touch-icon", href="./images/icon-512x512.png")
	meta(name="apple-mobile-web-app-status-bar" content="#18282f")
	meta(name="theme-color" content="#31c4bc")

	script(src="https://unpkg.com/phosphor-icons")
	link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap")
	link(rel="stylesheet", href="./css/reboot.min.css")
	link(rel="stylesheet", href="./css/magic.min.css")
	link(rel="stylesheet", href="./css/main.css")
	title Tic-Tac-Toe-Game


		