doctype html
html(lang="en")
	include ../pug/includes/head.pug
	body
		div(class="player-picker-container ")
			div(class="player-picker-container__player-logo")
				img(src="../images/logo.svg", alt="Player Logo")
			div(class="player-picker-container__player")
				h2(class="player-picker-container__title") Pick player 1’s mark
				div(class="player-picker-container__bg")
					div(class="player-picker-container__player-x")
						img(src="../images/icon-x.svg", alt="Player X" ,class="player-x")
					div(class="player-picker-container__player-o")
						img(src="../images/icon-o.svg", alt="Player O", class="player-o")
			button(class="player-picker-container__start-btn", id="start-btn") New game (vs cpu)
		div(class="game-container hide")
			div(class="game-container__player-top-bar")
				div(class="game-container__game-logo")
					img(src="../images/logo.svg", alt="Logo")
				div(class="game-container__player-turn")
					div(class="game-container__player-state", id="player-turn") #[img(src="../images/icon-x-outline.svg", id="img-logo",  alt="player-state", class="game-container__player-logo")] turn
				div(class="game-container__restart")
					button(class="game-container__restart-box", id="restart-game")
						i(class="ph-arrow-clockwise")
			div(class="game-container__grid-container")
				div 
					include ../pug/includes/loop.pug
				div 
					include ../pug/includes/loop.pug
				div 
					include ../pug/includes/loop.pug
			div(class="game-container__player-footer")
				div(class="game-container__score")
					span X
					h2(id="player-x-score") 
				div(class="game-container__score")
					span Ties
					h2(id="players-ties") 
				div(class="game-container__score")
					span O
					h2(id="player-o-score") 
		div(class="bgs hide")
			div(class="box")
				div(class="wrapper")
					h2(id="winner")
						img(id="winner-logo", alt='', src='')
						span(id="winner-title") Takes the round
					button(id="restart-btn" class="restart") Restart
					button(id="play-again-game-btn", class="restart-game") Play again 

		script(src="./js/App.js") 