// Colors
$background_color: hsl(199, 33%, 14%);
$x_color: hsl(177, 60%, 48%);
$o_color: hsl(40, 85%, 57%);
$btn_shadow: hsl(40, 65%, 40%);
$silver_color: hsl(196, 21%, 70%);
$player_state: hsl(199, 34%, 18%);
$shadow_color: hsl(201, 43%, 11%);
